body {
    font-family: 'IBM Plex Serif', serif;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 16px;
    color: #222;
    background-color: #FFFFFD;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: #ce1126;
}

pre {
    background-color: #FFFFFD;
}

h1 {
    font-family: 'Old Standard TT', serif;
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 28px;
}

h3 {
    font-family: 'Old Standard TT', serif;
}

code {
    font-family: "Iosevka", monospace;
    color: black;
}

figure {
    padding-top: 30px;
    padding-bottom: 30px;
}

figcaption {
	font-size: 12px;
}

.container .jumbotron {
    border-radius: 0 0 0 0;
}

.jumbotron {
    margin: 0 0 40px;
    padding: 20px 10px 30px;
    text-align: center;
    background-color: #FFFFFD;
    border: 0.5px solid #222;
}

.jumbotron h1 {
    font-size: 52px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.jumbotron p {
    font-family: "Iosevka", monospace;
}
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.navbar .navbar-inner {
    padding: 0;
}
.navbar .nav {
    margin: 0;
    display: table;
    width: 1%;
}
.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
.navbar .nav li a {
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li a:hover {
    background-color: #FFFFFD;
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 0 0 0 0;
}
.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 0 0 0;
}

.body {
    padding: 0 10px;
}

.recent-posts tr {
    vertical-align: top;
}

.recent-posts td {
    padding-right: 10px;
    padding-bottom: 5px;
    border-style: hidden;
}

.post-info {
    font-style: italic;
}

table {
    margin: auto;
    font-family: "Iosevka", monospace;
}

th {
    text-align: center;
    padding-right: 10px;
}

td {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    text-align: right;
}

.footnote {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 80%;
}
